[submodule "monitoring-server/libs/event-queue/vendor/concurrentqueue"]
	path = monitoring-server/libs/event-queue/vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "monitoring-server/libs/bme680/vendor/bme68x"]
	path = monitoring-server/libs/bme680/vendor/bme68x
	url = https://github.com/BoschSensortec/BME68x-Sensor-API
